@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --cor-do-texto: #8f8275;
    --cor-de-fundo:#224444;
    --titulo:#479084;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: 'Platypi';
    color: var(--cor-do-texto);
}

header{
    background-color: var(--cor-de-fundo);
    height: 15%;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    margin-left: 09px;
}

.container img{
    width: 27%;
    height: auto;
}

h2{
    color:var(--titulo);
}

.texto{
    margin-left: 09px;
}